@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Контроль поставок</h1>
        <h4 class="display-4">
        <a class="navbar-brand" asp-area="" asp-controller="Supplier" asp-action="Login">Войти в аккаунт поставщика</a>
        </h4>
        <h4 class="display-4">
        <a class="navbar-brand" asp-area="" asp-controller="Supplier" asp-action="Registration">Создать аккаунт поставщика</a>
        </h4>
    </div>
