@{
    ViewData["Title"] = "Home Page";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-secondary btn-sm" asp-area="" asp-controller="Supplier" asp-action="Login">Вход в аккаунт</a>
            </li>
        </ul>
    </div>
}
    <div class="text-center">
        <h1 class="display-4">Контроль поставок</h1>
    </div>
