@model Dictionary<int, (string, int)>
@{
    ViewData["Title"] = "Заявка";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Main">Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="List">Склады</a>
            </li>
        </ul>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Заявка № @ViewBag.RequestID</h1>
</div>

<hr />

<table class="table table-hover table-bordered">
    <thead class="thead thead-light">
        <tr>
            <th>
                Комплектующее
            </th>
            <th class="text-center">
                Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item1)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Value.Item2)
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-success btn-sm" asp-action="" asp-route-id="@item.Key">Зарезервировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>